
module hibernate_sleep_fix 1.0;

require {
	type swapfile_t;
	type systemd_sleep_t;
	class dir search;
}

#============= systemd_sleep_t ==============
allow systemd_sleep_t swapfile_t:dir search;
